.showProjectList {
    width: 68%;
    margin: auto;
  }
  
  .showProjectRank {
    clear: both;
    padding-top: 40px;
  }
  
  .product {
    z-index: 5;
    float: left;
    margin: 10px;
    display: flex;
    flex-direction: row; /* 기본값으로 이미 설정되어 있지만 명시적으로 지정 */
    flex-wrap: nowrap; /* 엘리먼트가 넘치는 경우 줄 바꿈하지 않도록 설정 */
  }
  .product .thumbnail {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-position: center;
    border: solid 2px #c8c9c9; /* 삭제해보자 */
    overflow: hidden;
  }
  .thumbnailImg {
    width: 100%;
    height: 140px;
    border-top: 20px;
  }
  .thumbnailImg img {
    height: 100%;
  }
  .thumbnailInfo {
    padding: 12px;
  }
  .product .price {
    font-size: 16px;
    font-weight: 600;
  }
  .product .title {
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .product .date {
    color: grey;
    font-size: 13px;
  }