.ProjectHubContainer {
  height: 94.68vh;
  width: 100vw;
  /* FIXME: 나중에 바꿉시다..? */
  background-color: #efefef;
  display: flex;
}
.ProjectHubMain {
  padding: 60px;
  display: flex;
}

.ProjectHubSidebar {
  background-color: rgb(81, 81, 238);
  height: 100%;
  width: 6%;
  border: 1px solid #f8fafc;
  padding-top: 3%;
}
.ProjectHubFeature {
  width: 100%;
  height: 10%;
  padding-left: 10%;
  font-size: 15px;
  color: white;
}
.showChat {
  height: 78%;
  overflow-y: auto;
  overflow-x:hidden;
  border-bottom: 2px solid rgb(81, 81, 238);
}
.ChatContainer {
  height: 100%;
  background-color: white;
  width: 100%;
}
.inputChatPlace {
  height: 100%;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  display: flex;
  transition: all 0.5s ease 0s;
  transform: translateY(0px);
}
.inputChat {
  height: 13vh;
  width: 19vw;
  background-color: darkblue;
  position: absolute;
}
.messageBox {
  background-color: rgb(81, 81, 238);
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  min-height: 30px;
  min-width: 50px;
  margin-top: 15px;
}
.submitChatBtn {
  float: right;
  background-color: rgb(81, 81, 238);
  color: white;
  border: none;
  border-radius: 5px;
  width: 20%;
  padding: 4px;
}
.messageDate {
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

.left {
  display: flex;
  flex-direction: row;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10px;
}

.messageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.xbutton {
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.inputModalTodo {
  border: none;
  background-color: rgb(217, 216, 216);
  padding: 8px 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.setTodoInfo {
  display: inline-block;
  margin-left: 49px;
}
.todoInfoBox {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: 24px;
}