.ProjectHubContainer {
  height: 94.68vh;
  width: 100vw;
  /* FIXME: 나중에 바꿉시다..? */
  background-color: #efefef;
  display: flex;
}
.ProjectHubMain {
  padding: 60px;
  display: flex;
}
/* .ProjectHubMainChat {
  width: 30%;
  background-color: white;
  height: 84vh;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0;
} */
.ProjectHubSidebar {
  background-color: rgb(81, 81, 238);
  height: 100%;
  width: 6%;
  border: 1px solid #f8fafc;
  padding-top: 3%;
}
.ProjectHubFeature {
  width: 100%;
  height: 10%;
  padding-left: 10%;
  font-size: 15px;
  color: white;
}
.showChat {
  height: 78%;
  border-bottom: 2px solid rgb(81, 81, 238);
}
.inputChatPlace {
  height: 13vh;
  width: 100%;
  border: none;
  outline: none;
}

.messageBox {
  background-color: rgb(81, 81, 238);
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  min-height: 30px;
  min-width: 50px;
  margin-top: 15px;
}
.submitChatBtn {
  float: right;
  background-color: rgb(81, 81, 238);
  color: white;
  border: none;
  border-radius: 5px;
  width: 20%;
  padding: 4px;
}
.messageDate {
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}

