/* 폰트설정 */
@font-face {
  font-family: 'simpleFont';
  src: url('./font/PretendardVariable.woff2') format('truetype');
}
p {
  font-family: 'simpleFont';
}
.cursorPointer {
  cursor: pointer;
}
/* nav바 */
.NavbarContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
}
.myNavbar {
  height: 50px;
}

/* nav바 아이템 간격조정 */
.navItem {
  margin-left: 24px;
}
.rightNav {
  font-weight: bold !important;
  color: black !important;
  /* TODO:important 안 쓰는 방법을 생각해보자 */
}
.start {
  opacity: 0;
  transform: translateY(0);
}
.end {
  opacity: 1;
  transform: translateY(-50px);
  transition: all 1s;
}
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.white-bg {
  background: white;
  width: 22%;
  height: 44%;
  padding: 30px;
  border-radius: 10px;
  margin: auto;
  margin-top: 240px;
}
.white-bg h4 {
  text-align: center;
}
.white-bg-box {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 20%;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  padding: 20px;
}
.white-bg-img {
  width: 70%;
  height: 32%;
  margin: auto;
  display: block;
}
/* 메인 소개*/
.mainIntro {
  width: 100%;
  height: 850px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 1px;
  padding-top: 50px;
}
.mainIntroText {
  font-size: 60px;
  font-weight: 900;
  margin-top: 150px;
}

.mainAnimation {
  transition: all 3s;
  opacity: 0;
  width: 60%;
  margin: auto;
}

.mainIntroLeft {
  float: left;
  text-align: left;
}
.secondIntro {
  background-color: white;
}
/* 시작하기 버튼 */
.startBtn {
  height: 50px;
  width: 150px;
  border-radius: 40px;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 프로젝트 리스트 넘어가는거 */
.product {
  display: flex;
  z-index: 5;
  float: left;
  margin: 10px;
}
.product .thumbnail {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-position: center;
  border: solid 2px #c8c9c9;
  overflow: hidden;
}
.thumbnailImg {
  width: 100%;
  height: 140px;
  border-top: 20px;
}
.thumbnailImg img {
  height: 100%;
}
.thumbnailInfo {
  padding: 12px;
}
.product .price {
  font-size: 16px;
  font-weight: 600;
}
.product .title {
  font-size: 17px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product .date {
  color: grey;
  font-size: 13px;
}
.showProjectRank {
  clear: both;
  padding-top: 40px;
}
/* ProjectMain.js */
.showProjectList {
  width: 68%;
  margin: auto;
}
/* .projectBox {
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  width: 40px;
  height: 24px;
  padding: 5px;
} */

.projectBox p {
  font-size: 12px;
}
/*캐러셀*/
.slidercontents {
  height: 300px;
  background-image: url(img/slider_one.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 100%;
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.wrapText {
  margin-left: 12%;
}

/* 로그인.js  */
.loginBox {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginTxt {
  font-size: 40px;
}

.input-container .form-control {
  width: 100%;
  max-width: none; /* 부트스트랩의 최대 너비 설정 무시 */
  padding: 10px; /* 내부 여백 설정 */
  font-size: 16px; /* 폰트 크기 설정 */
  min-width: 300px; /* 입력 칸의 최소 가로 길이 설정 */
}

.input-container {
  margin-bottom: 1rem;
}

@media (max-width: 11768px) {
  .input-container .form-control {
    max-width: 100%; /* 작은 화면에서 최대 너비는 100% */
  }
}
.signupAndFindPwd {
  margin-top: 30px;
}
.main-project {
  width: 100%;
  background-color: rgb(186, 103, 39);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputTitle {
  border: none;
  outline: none;
  width: 100%;
}
.projectWriteVw {
  width: 100vw;
}
.projectWriteMainContainer {
  width: 100%;
  padding: 50px;
}
.projectWriteMainCenter {
  width: 50%;
  margin-left: 16%;
}
.projectWriteTopInfo {
  padding-top: 40px;
}
.projectWriteTopInfoBox {
  width: 50%;
  display: inline-block;
}
.projectWriteMainCenter p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 70px;
}
.teamApply {
  float: right;
  border: none;
  border-radius: 10%;
  background-color: #f27474;
  color: white;
  height: 40px;
  width: 100px;
  font-weight: bold;
  margin-top: 20px;
}
.projectWriteTopInfo {
  text-align: center;
}
.btngroup {
  float: right;
  margin-top: 40px;
}
.introduce {
  height: 200px;
}

.projectWriteMainCenter ::placeholder {
  color: grey;
  opacity: 0.7;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border: solid 2px #282c34;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: middle;
}
input[type='checkbox']:checked + label::before {
  background-image: url('img/checkbox.svg');
  background-repeat: no-repeat;
}
input[type='checkbox'] + label > span {
  vertical-align: middle;
  padding-left: 5px;
}
.checkboxMargin {
  margin-left: 20px;
}

.myProjectbox {
  width: 70%;
  margin: auto;
  border: solid 1px rgb(168, 168, 168);
  border-radius: 50px;
  padding: 3dvb;
  display: flow-root;
  margin-top: 50px;
  z-index: 10;
}
.myProjectText {
  position: absolute;
  top: 11%;
  left: 18%;
  /* transform: translate(-50%, -50%); */
  font-size: 30px;
  padding-top: 10px;
}

.ProjectHubSidebar {
  background-color: rgb(81, 81, 238);
  height: 100%;
  width: 6vw;
  border: 1px solid #f8fafc;
  padding-top: 3%;
  float: left;
}
.ProjectHubFeature {
  width: 100%;
  height: 10%;
  padding-left: 20px;
  font-size: 15px;
  color: white;
}
.FeatureImo {
  font-size: 30px;
}
.ProjectHubContainer {
  height: 94.68vh;
  /* FIXME: 나중에 바꿉시다..? */
  background-color: #efefef;
}
.ProjectHubMain {
  padding-top: 30px;
  padding-left: 160px;
}
.ProjectHubMainChat {
  width: 30%;
  background-color: white;
  height: 84vh;
  border-radius: 10px;
  padding: 10px;
  float: left;
}

.showChat {
  height: 78%;
  border-bottom: 2px solid rgb(81, 81, 238);
}
.inputChatPlace {
  height: 12vh;
  width: 100%;
  border: none;
  outline: none;
  clear: both;
}

.messageBox {
  background-color: rgb(81, 81, 238);
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  min-height: 30px;
  margin-top: 15px;
}
.submitChatBtn {
  float: right;
  background-color: rgb(81, 81, 238);
  color: white;
  border: none;
  border-radius: 5px;
  width: 15%;
  padding: 4px;
}
.calendar {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  margin-left: 60px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.fc-direction-ltr {
  width: 600px;
  height: 740px;
}

.messageDate {
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}
.todo {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  margin-left: 60px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;

}
.todo .fc-direction-ltr {
  width:400px;
}