/* 폰트설정 */
@font-face {
  font-family: 'simpleFont';
  src: url('./font/PretendardVariable.woff2') format('truetype');
}
p {
  font-family: 'simpleFont';
}
.cursorPointer {
  cursor: pointer;
}
/* nav바 */
.NavbarContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
}
.myNavbar {
  height: 50px;
}

/* nav바 아이템 간격조정 */
.navItem {
  margin-left: 24px;
}
.rightNav {
  font-weight: bold !important;
  color: black !important; 
  /* TODO:important 안 쓰는 방법을 생각해보자 */
}
.black-bg {
width: 100%;
height: 100%;
position: fixed;
z-index: 5;
background: rgba(0, 0, 0, 0.5);
padding: 30px;
}
.white-bg {
 background: white;
 width: 24%;
 height: 44%;
 padding: 30px;
 border-radius: 10px;
 margin: auto;
 margin-top: 240px;
}
.white-bg h4 {
text-align: center;
}
.white-bg-box {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 20%;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  padding: 20px;
}
.white-bg-img {
  width: 70%;
  height: 32%;
  margin: auto;
  display: block;
}
/* 메인 소개*/
.mainIntro {
  width: 100%;
  height: 850px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 1px;
  padding-top: 50px;
}
.mainIntroText {
  font-size: 60px;
  font-weight: 900;
  margin-top: 100px;
}
.mainAnimation {
  transition: all 3s;
  opacity: 0;
}
.secondIntro {
  background-color: white;
}
/* 시작하기 버튼 */
.startBtn {
  height: 50px;
  width: 150px;
  border-radius: 40px;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 프로젝트 리스트 넘어가는거 */
.product {
  display: flex;
  z-index: 5;
  float: left;
  margin: 10px;
}
.product
.thumbnail {
  background-color:  white;
  max-width: 260px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  border-radius: 20px;
  background-position: center;
  border: solid 2px #c8c9c9;
  overflow:hidden ; 
}
.product .price {
  font-size: 16px;
  font-weight: 600;
}
.product .title {
  font-size: 17px;
  font-weight: 600;
}
.product .date {
  color: grey;
  font-size: 13px;
}
.showProjectRank {
  clear: both;
  padding-top:40px;
}
/* ProjectMain.js */
.showProjectList {
  width: 60%;
  margin: auto;
}
.projectBox {
  background-color: gray;
  border-radius: 20px;
  display: inline-block;
  width: 60px;
  height: 24px;
  padding: 5px;
  text-align: center;
}
.projectBox p {
  font-size: 12px;
}
/*캐러셀*/
.slidercontents {
  height: 300px;
  background-image: url(img/slider_one.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 100%;
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.wrapText {
  margin-left: 12%;
}

/* 로그인.js  */
.loginBox {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginTxt {
  font-size: 40px;
}

.input-container .form-control {
  width: 100%;
  max-width: none; /* 부트스트랩의 최대 너비 설정 무시 */
  padding: 10px; /* 내부 여백 설정 */
  font-size: 16px; /* 폰트 크기 설정 */
  min-width: 300px; /* 입력 칸의 최소 가로 길이 설정 */
}

.input-container {
  margin-bottom: 1rem;
}

@media (max-width: 11768px) {
  .input-container .form-control {
    max-width: 100%; /* 작은 화면에서 최대 너비는 100% */
  }
}
.signupAndFindPwd {
  margin-top: 30px;
}
.main-project {
  width: 100%;
  background-color: rgb(186, 103, 39);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputTitle {
  border: none;
  outline: none;
  width: 100%;
}
.projectWriteMainContainer {
  width: 100%;
  padding: 50px;
}
.projectWriteMainCenter {
  width: 50%;
  margin: auto;
}
.projectWriteMainCenter p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 70px;
}
.btngroup {
  float: right;
  margin-top: 40px;
}
.introduce {
  height: 200px;
}

.projectWriteMainCenter ::placeholder {
  color: grey;
  opacity: 0.7;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border: solid 2px #282c34;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: middle;
}
input[type='checkbox']:checked + label::before {
  background-image: url('img/checkbox.svg');
  background-repeat: no-repeat;
}
input[type='checkbox'] + label > span {
  vertical-align: middle;
  padding-left: 5px;
}
.checkboxMargin {
  margin-left: 20px;
}
